<ion-header>
  <ion-toolbar>
    <ion-title>persons-list</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <app-persons-list [persons]="residents"
                       (editResident)="onEditResident($event)"
                       (removeResident)="onRemoveResident($event)">
  </app-persons-list>

  <ion-fab vertical="top" horizontal="end" edge slot="fixed">
    <ion-fab-button (click)="goToCreateResident()">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>
