<ion-list>
  <ion-item *ngFor="let property of properties">
    <app-property [property]="property"></app-property>
    <div slot="end">
      <ion-button (click)="edit(property)">
        <ion-icon name="create-outline"></ion-icon>
      </ion-button>
      <ion-button color="danger" (click)="remove(property)">
        <ion-icon name="close-circle-outline"></ion-icon>
      </ion-button>
    </div>
  </ion-item>
</ion-list>