<ion-header>
  <ion-toolbar>
    <ion-title>Registrar Usuario</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <app-users-form (cancelForm)="goBack()" (submitForm)="onSubmit($event)"></app-users-form>
</ion-content>