<ion-list>
  <ion-item *ngFor="let person of persons">
    <app-person [person]="person"></app-person>
    <div slot="end">
      <ion-button (click)="edit(person)">
        <ion-icon name="create-outline"></ion-icon>
      </ion-button>
      <ion-button (click)="remove(person)" slot="end">
        <ion-icon name="close-circle-outline"></ion-icon>
      </ion-button>
    </div>
  </ion-item>
</ion-list>