<ion-header>
  <ion-toolbar>
    <ion-title>Propiedad</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <app-property-form (submitForm)="onSubmit($event)"
                     (cancelForm)="onCancel()"
                     [propertyData]="propertyData">
  </app-property-form>
</ion-content>