<form [formGroup]="userForm" (ngSubmit)="onSubmit()">
  <ion-item>
    <ion-label>E-mail</ion-label>
    <ion-input type="email" formControlName="username" placeholder="username@domain.com"></ion-input>
  </ion-item>

  <ion-button type="button" (click)="onCancel()">Cancelar</ion-button>
  <ion-button type="submit">Registrar</ion-button>
</form>
    